/* div {
	width: 100%;
	margin-bottom: 15px;
	box-sizing: border-box;
	padding: 12px;
	border-radius: 4px;
}
.copied-info-div {
	background-color: red;
	margin: 0;
	text-align: center;
	align-items: center;
}
.copied-info-div > p {
	background-color: Z;
} */
