* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'JetBrains Mono', monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.translator-form {
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f4f4f4;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-element {
	width: 100%;
	margin-bottom: 15px;
	box-sizing: border-box;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

#textInput,
#translationResult {
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 15px;
}

.form-control.form-element {
	position: relative;
}

.form-control.form-element::after {
	content: '\25BC';
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
	pointer-events: none;
}

select .form-element {
	padding: 12px;
	cursor: pointer; /* Zmiana kursora na pointer dla elementu select */
}

.btn-primary {
	padding: 12px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer; /* Zmiana kursora na pointer dla przycisku */
	font-size: 16px;
}
